.progressBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: var(--accent-primary);
    transform-origin: 0%;
    z-index: 1001;
    /* Above Navbar */
    box-shadow: 0 0 10px var(--accent-glow);
}